
.app-view-invoice-container .view-invoice-head h3 {
  width:98.6%;
  background-color: rgb(245, 249, 250);
  color: rgb(103, 104, 100);
  height:45px;
  margin:0;
  padding:10px 0 0 10px;
  border-top: rgb(180, 56, 56) solid 1px;
}
@media (max-width:991px) {
  .app-view-invoice-container .view-invoice-head h3 {
    width:98%;
  }
}
@media (max-width: 480px) {
  .app-view-invoice-container .view-invoice-head h3 {
    width:97%;
  }
}
.app-view-invoice-container .view-invoice-body {
  margin-top:5px;
  background-color: white;
}
 .app-view-invoice-container .view-invoice-body header .view-invoice-body-header .left-side {
  width:40%;
  float:left;
}
.app-view-invoice-container .view-invoice-body header .view-invoice-body-header .right-side {
  width:55%;
  float:right;
}
.app-view-invoice-container .view-invoice-body header .view-invoice-body-header .right-side h3 {
  color:rgb(123, 24, 153);
}
/* .app-view-invoice-container .view-invoice-body footer .view-invoice-body-footer {
  background-color: black;
} */
/* .app-view-invoice-container .view-invoice-body footer .view-invoice-body-footer .left-side {
  background-color: aqua;
} */
.app-view-invoice-container .view-invoice-body footer .view-invoice-body-footer .right-side {
  /* width:40%; */
  /* background-color: black; */
  text-align: right;
}
