<div class="signup_container">
  <div class="signup_head">
    <h2> Registor Yourself
      <!-- <img src="{{urls.ImgBaseUrl}}registration-white-fav.png" rel='' height='20px'> -->
    </h2>
    <img src="{{urls.ImgBaseUrl}}registration-white-fav.png" rel='' height='20px'>
  </div>

  <div class="signup_body">
    <div class="signup_form">
      <form [formGroup]= "signUpForm" (ngSubmit) ="onSignUp(signUpForm.value)">
        <div class="form-group">
          <!-- <label for="name"> User Name </label> -->
          <img class="icon" src="{{urls.ImgBaseUrl}}username-light-fav.png" alt="username"/>
          <input id="name" class="signup-form-user-name" type="text" formControlName = "UserName" name = "UserName" placeholder="Your Name" pattern="[a-zA-Z ]{1,16}">
          <p id="for_name"> Alphabet, not Null, 1-16 characters</p>
          <!-- <input id="name" class="signup-form-name" type="text" [(ngModel)]= "UserModel.UserName" name = "UserName"> -->
        </div>

        <div class="form-group">
          <!-- <label for="title"> User Title </label> -->
          <img class="icon" src="{{urls.ImgBaseUrl}}title-light-fav.png" alt=""/>
          <select id="title" class="signup-form-title form-control" formControlName = "UserTitle" name = "UserTitle" placeholder="title">
            <option value = "" selected disabled hidden> Select Title </option><hr>
            <option *ngFor="let title of titles" [value] = "title">{{title}}</option>
          </select>
          <!-- <input id="title" class="signup-form-title" type="text" [(ngModel)]= "UserModel.Usertitle" name = "Usertitle"> -->
        </div>

        <div class="form-group">
          <!-- <label for="email"> Email Address </label> -->
          <img class="icon" src="{{urls.ImgBaseUrl}}email-light-fav.png" alt=""/>
          <input id="email" class="signup-form-email" type="email" formControlName = "UserEmail" name = "UserEmail" placeholder="email@address.com" pattern="[a-zA-Z._0-9]+[@]{1}[a-z0-9]+[.]+[a-z]+"><!--required-->
          <p id="for_email"> Follow Email Pattern</p>
          <!-- <input id="email" class="signup-form-email" type="text" [(ngModel)]= "UserModel.UserEmail" name = "UserEmail"> -->
        </div>

        <div class="form-group">
          <!-- <label for="phone"> Phone Number </label> -->
          <!-- patter   [+]{1}[0-9]{2}[ ]{1}[0-9]{3}[ ]{1}[0-9]{7}-->
          <img class="icon" src="{{urls.ImgBaseUrl}}phone-light-fav.png" alt=""/>
          <input id="phone" class="signup-form-phone" type="tel" formControlName = "UserPhone" name = "UserPhone" placeholder="03001234567" pattern="[0]+[0-9]{3}[0-9]{7}"><!-- required-->
          <p id="for_phone"> Pakistan Mobile Phone Pattern</p>
          <!-- <input id="phone" class="signup-form-phone" type="phone" [(ngModel)]= "UserModel.UserPhone" name = "UserPhone"> -->
        </div>

        <div class="form-group">
          <!-- <label for="password"> Password </label> -->
          <img class="icon" src="{{urls.ImgBaseUrl}}password-light-fav.png" alt=""/>
          <input id="password" class="signup-form-password" type="password" formControlName= "UserPassword" name = "Password" placeholder="password" pattern=".{8,}" (ngModelChange)="password = $event"><!--required-->
          <p id="for_password"> More than 8 characters </p>
          <!-- <select id="password" class="signup-form-password form-control" type="password" [(ngModel)]= "Password" name = "Password"> -->
        </div>

        <div class="form-group">
          <!-- <label for="password"> Password </label> -->
          <img class="icon" src="" alt=""/>
          <input id="retype_password" class="signup-form-retype_password" type="password" formControlName= "UserReTypePassword" name = "ReTypePassword" placeholder="Retype password" (ngModelChange)="verifyConfirmPassword($event)"><!--required-->
          <p id="for_retype_password"> Match Above Password </p>
          <!-- <select id="password" class="signup-form-password form-control" type="password" [(ngModel)]= "Password" name = "Password"> -->
        </div>

        <div class="form-button">
          <input id="signUp" type="button" value="Sign Up" class="signup-form-submit-button" type="submit" (click)="BtnAnimate('signUp')" [disabled]='signUpForm.invalid'><!--_-->
        </div>
      </form>
    </div>
  </div>

  <div class="signup_foot">
    <p> If you already have an account </p>
    <a href="javascript:void(0)" [routerLink]="['/login']" id="logIn" class="signup-form-login-button"> Log In </a>
  </div>
</div>
