<div class="app-listing-tabs">
  <ul>
    <li [routerLinkActive]="['selected']" (click)="currentTab = 'create' " [routerLink]="['/create-invoice']">
      <!-- <li [ngClass]="currentTab == 'create'? 'selected': ''" (click)="currentTab = 'create' " [routerLink]="['create-invoice']"> -->
      Add Product
    </li>
    <li [routerLinkActive]="['selected']" (click)="currentTab = 'view' " [routerLink]="['/view-invoice']">
      <!-- <li [ngClass]="currentTab == 'view'? 'selected': '' " (click)="currentTab = 'view' " [routerLink]="['view-invoice']"> -->
      View Invoice
    </li>
  </ul>
</div>
