<div class="app-create-invoice-container">
  <div class="create-invoice-head">
    <h3> Add Products </h3>
  </div>
  <div class="create-invoice-body">
    <div class="create-invoice-form">

      <div class="form-group">
        <label for="name"> Add Product </label>
        <input id="name" class="create-form-name" type="text" [(ngModel)]= "ProductName">
      </div>

      <div class="form-group">
        <label for="price"> Price </label>
        <input id="price" class="create-form-price" type="text" [(ngModel)]= "ProductPrice">
      </div>

      <div class="form-group">
        <label for="type"> Payment Type </label>
        <select id="type" class="create-form-type form-control" type="text" [(ngModel)]= "PaymentType">
          <option *ngFor="let type of paymentTypes" [value] = "type" selected>{{type}}</option>
        </select>
      </div>

    </div>
  </div>
</div>
